body{
    margin: 0%;
    padding: 0%;
}

header h3 {
    text-align: center;
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: 0%;
   
   
}
#searchbar{
    width: 60%;
    height: 50px;
    border: 2px solid red;
    text-align: center;
    margin-left: 100px;
  
    
}
.logo{
    display: flex;
}
.logo button{
    height: 55px;
    background-color: red;
    color: white;
}
.logo h2{
    padding-left: 50px;
    display: flex;
}

.navbar nav ul li{
   display: inline-table;
   text-align: center;
   margin-right: 50px;
   
}
.navbar nav ul li a{
    gap: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar nav ul li a :hover{
    color: red;
}
.slideshowbutton{
    position :absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.childrenssection h1{
text-align: center;
background-color: rgb(179, 218, 228);
}
.childrensbooks{
display: inline-block;
text-align: center;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.childrensbooks img {
width: 250px;
height: 300px;
margin-right: 30px;
margin-left: 20px;

}
.childrensbooks button{
    background-color: rgb(255, 7, 7);
    color: white;
    font-weight: 300;
    border-radius: 5px;
}
.childrensbooks{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.books {
   display: inline-block;
   margin-right: 30px;
   margin-left: 20px;
}
.books h1{
 font-weight: 1000;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer h3  {
    margin-left: 40px;
text-align: center;
}
footer ul li{
    text-align: center;
    list-style: none;
}
footer ul li a {
    display:flex;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    position: inherit;
}
.footerlist{
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 550px;
    
    

}
.footerlist li{
  margin-right: 10px;
  margin-left: 50px;
  
}